<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048764100456-4vlpdfukcp4061mkme3e58bou3aejpli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048764100456-4vlpdfukcp4061mkme3e58bou3aejpli</string>
	<key>API_KEY</key>
	<string>AIzaSyDNOAJD-xG6oem7Hai2_n3a93XljprtDJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1048764100456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.fabriziomoro.altura</string>
	<key>PROJECT_ID</key>
	<string>altura-891fb</string>
	<key>STORAGE_BUCKET</key>
	<string>altura-891fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048764100456:ios:fe66ea1368f65c08a730dd</string>
</dict>
</plist>